*{
    margin: o;
    padding: o;
    box-sizing: border-box;
}
header{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    position: fixed;
    top: o;
    z-index: 1000;
    background-color: white;
    width: 100%;
}
#logo{
    width: 200px;
}
#logo img{
    width: 100%;
}